<nav class="navbar-default navbar-static-side" role="navigation" data-global-user="{{json GLOBAL_CURRENT_USER}}">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span><img alt="image" class="img-circle" src="{{nullDefault GLOBAL_CURRENT_USER.headImg '/images/user.png'}}" width="50" height="50"></span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{nullDefault GLOBAL_CURRENT_USER.nickName GLOBAL_CURRENT_USER.name}}</strong>
            </span> <span class="text-muted text-xs block">系统管理员<b class="caret"></b></span> </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a data-href="/user/setting">修改资料</a></li>
            <li class="divider"></li>
            <li><a data-href="/user/logout">退出</a></li>
          </ul>
        </div>
        <div class="logo-element">
          <img src="/app/images/logo@2x.png" alt="YG" style="margin: -1em;width: 2em;height: 2em;">
        </div>
      </li>
      <li>
        <a href="#"><i class="fa fa-gamepad"></i> <span class="nav-label">游戏管理</span>  <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/game/edit"><i class="fa fa-plus-square"></i> 新增游戏</a></li>
          <li><a href="/game/list"><i class="fa fa-th-list"></i> 游戏列表</a></li>
          <li><a href="/game/recommendList"><i class="fa fa-thumbs-up"></i> 游戏推荐</a></li>
          <li><a href="/gameCompany/list"><i class="fa fa-briefcase"></i> 游戏厂商</a></li>
          <li><a href="/game/config"><i class="fa fa-cogs"></i> 常用配置</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-shopping-bag"></i> <span class="nav-label">商品管理</span>  <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/goods/edit"><i class="fa fa-plus-square"></i> 新增商品</a></li>
          <li><a href="/goods/list"><i class="fa fa-th-list"></i> 商品列表</a></li>
          <li><a href="/goods/config"><i class="fa fa-cogs"></i> 常用配置</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-file-text"></i> <span class="nav-label">订单管理</span>  <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/order/delivery/list"><i class="fa fa-truck"></i> 待发货 <span class="label label-danger pull-right d-none">0</span></a></li>
          <li><a href="/order/list"><i class="fa fa-th-list"></i> 订单列表</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">用户管理</span>  <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/user/list"><i class="fa fa-th-list"></i> 用户列表</a></li>
          {{!--<li><a href="/user/"><i class="fa fa-repeat"></i> 重置密码</a></li>--}}
        </ul>
      </li>
      <li>
        <a  href="#"><i class="fa fa-gear"></i> <span class="nav-label">系统配置</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/config/lov"><i class="fa fa-terminal"></i> 值列表</a></li>
          <li><a href="/user/system/list"><i class="fa fa-address-book"></i> 管理员</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>