{{!--文件上传--}}
<div class="row">
  <div class="col-xs-12">
    <form class="dropzone" style="height:250px; overflow-y: auto">
      {{!--{{#eachForStr params}}--}}
      {{!--<input type="hidden" name="{{this}}" value="{{getValueInMap ../this this}}">--}}
      {{!--{{/eachForStr}}--}}
    </form>

    <div class=" m-t-sm pull-right">
      <button class="btn btn-default" name="close">关闭</button>
      {{!--<button class="btn btn-primary" name="ok">确认</button>--}}
    </div>
  </div>
</div>