<div class="row m-b-sm m-t-sm" id="tableSearchBar">
  <div class="col-md-1">
    <button type="button" data-root="tableview" data-role="refresh" class="btn btn-white"><i class="fa fa-refresh"></i> 刷新</button>
  </div>
  <form class="col-md-11" onsubmit="return false;" data-root="tableview" data-role="search">
    <div class="input-group">
      <input type="text" placeholder="Search" class="form-control" data-root="tableview" data-role="searchParam" name="search">
      <span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button> </span>
    </div>
  </form>
</div>