<table id="companyTable" class="table table-bordered table-hover va-middle" data-pages="{{pages}}" data-page-num="{{pageNum}}" data-page-size="{{pageSize}}">
  <thead>
  <tr>
    <th class="w50 text-center">ID</th>
    <th class="w50 text-center">LOGO</th>
    <th class="col-xs-4">公司名称</th>
    <th class="col-xs-4">官网地址</th>
    <th class="col-xs-4">公司简介</th>
    <th class="w100 text-center">操作</th>
  </tr>
  </thead>
  <tbody>
  {{#each list}}
    {{> gameCompany/list/templates/_table-tr}}
  {{/each}}
  </tbody>
  <tfoot>
  <tr>
    <td colspan="999">
      <div class="pull-right"><ul class="pagination"></ul></div>
    </td>
  </tr>
  </tfoot>
</table>