{{#each checkboxs}}
  <label><input type="checkbox" name="{{../fieldName}}" value="{{name}}" {{#in name ../defaultValue}}checked="checked"{{/in}} {{#in "description" ../extendedFields}}data-description="{{description}}"{{/in}}>{{value}}</label>
{{/each}}