<td data-pname="{{pname}}">
  <div class="input-group input-group-sm full-width">
    <input type="text" class="form-control" data-toggle="customized" data-type="typeahead" data-lov-type="SKU_PROPERTY_VALUES" data-prop="{{pname}}">
    <span class="input-group-btn">
      <button class="btn btn-warning" type="button" data-action="setColumnCells">设置</button>
    </span>
  </div>
</td>