<div id="tab-4" class="tab-pane">
  <form class="panel-body" onsubmit="return false;">

    <fieldset class="form-horizontal">
      <div class="form-group m-b-none">
        <div class="col-sm-12">
          <div class="input-group">
            <input type="text" class="form-control tagsinput" data-toggle="customized" data-type="tagsinput" data-lov-type="SKU_PROPERTYS">
            <div class="input-group-btn va-bottom">
              <button tabindex="-1" class="btn btn-primary va-bottom" type="button" data-action="addColumns">添加规格参数</button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="hr-line-dashed"></div>

    {{> goods/edit/templates/_sku-table}}

    <div class="hr-line-dashed"></div>

    <div class="form-group text-right">
      <div class="pull-left">
        <button class="btn btn-primary" type="button" data-action="addRow"><i class="fa fa-plus"></i> 添加行</button>
        <button class="btn btn-warning" type="button" data-action="toggleSettingRow"><i class="fa fa-gear"></i> 批量设置</button>
      </div>
      <button class="btn btn-white" type="button" data-action="refresh"><i class="fa fa-refresh"></i> 刷新</button>
      <button class="btn btn-primary" type="button" data-action="submit">批量保存</button>
    </div>
    <input type="hidden" name="goodsId" value="{{goods.id}}">
  </form>
</div>